/* screen - login */

.login {
  background-color: #ebe1e1;
  border: 1px none;
  margin: 0px;
  min-height: 1024px;
  min-width: 1440px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.login .background-b8DrbD {
  background-color: #dfdede;
  height: 1024px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 512px);
  width: 100%;
}

.login .rectangle-1-b8DrbD {
  background-color: #fefefe6b;
  border: 1px dashed;
  border-color: var(--black);
  box-shadow: 0px 4px 4px #00000040;
  height: 793px;
  left: calc(50.00% - 388px);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(50.00% - 411px);
  width: 777px;
}

.login .frame-4-b8DrbD {
  background-color: transparent;
  border: 1px solid;
  border-color: #040404;
  border-radius: 20px;
  height: 60px;
  left: calc(50.00% - 279px);
  position: absolute;
  top: calc(50.00% - 96px);
  width: 560px;
}

.login .frame-3-b8DrbD {
  background-color: transparent;
  border: 1px solid;
  border-color: #060606;
  border-radius: 20px;
  height: 62px;
  left: calc(50.00% - 280px);
  position: absolute;
  top: calc(50.00% - 190px);
  width: 562px;
}

.login .frame-5-b8DrbD {
  align-items: center;
  background-color: #fe8869;
  border-radius: 30px;
  display: flex;
  gap: 40px;
  height: auto;
  justify-content: center;
  left: calc(50.00% - 285px);
  mix-blend-mode: normal;
  padding: 15px 251px;
  position: absolute;
  top: calc(50.00% + 34px);
  width: fit-content;
}

.login .title-nS5n6e {
  background-color: transparent;
  color: #212121;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: fit-content;
}

.login .ellipse-1-b8DrbD {
  background-color: transparent;
  /* border: 1px solid; */
  border-color: #020202;
  border-radius: 44px;
  height: 298px;
  left: calc(50.00% - 487px);
  position: absolute;
  top: calc(50.00% + 118px);
  width: 584px;
}

.login .ellipse-3-b8DrbD {
  background-color: transparent;
  /* border: 1px solid; */
  border-color: #020202;
  border-radius: 44px;
  height: 298px;
  left: calc(50.00% - 101px);
  position: absolute;
  top: calc(50.00% + 118px);
  width: 584px;
}

.login .ellipse-2-b8DrbD {
  background-color: transparent;
  /* border: 1px solid; */
  border-color: #020202;
  border-radius: 44px;
  height: 298px;
  left: calc(50.00% - 299px);
  position: absolute;
  top: calc(50.00% + 118px);
  width: 584px;
}

.login .line-1-b8DrbD {
  background-color: transparent;
  height: 1px;
  left: calc(50.00% - 280px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% + 168px);
  width: 251px;
}

.login .line-2-b8DrbD {
  background-color: transparent;
  height: 1px;
  left: calc(50.00% + 42px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% + 168px);
  width: 251px;
}

.login .frame-9-b8DrbD {
  background-color: transparent;
  height: 253px;
  left: calc(50.00% + -146px);
  position: absolute;
  top: 9px;
  width: 296px;
}
